.experienceTimeline {
	perspective: 1000px;
}

.timelineLine {
	@apply w-px -z-10;
	position: fixed;
	background-color: var(--color-secondary);
	opacity: 0.8;
	height: 100%;
	width: 2px;
}

@media (max-width: 1023px) {
	.timelineLine {
		left: 20px;
		top: 0;
	}
}
@media (min-width: 1024px) {
	.timelineLine {
		left: 50%;
		top: 0;
	}
}
