.projectCard:hover  {
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
}

.projectCard:hover > div > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--color-white);
  opacity: 1;
  z-index: 1;
}