.sidebar {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--color-white);
  color: var(--color-black);
  justify-content: end;
  padding-top: 80px;
  padding-right: 16px;
}



.sidebar-content {
  height: 100vh;
  display: flex;
  padding: 20px;
  background-color: var(--color-white);
}

.sidebar-content > ul > li > a {
  display: flex;
}

.sidebar-content > ul > li > a:hover {
  color: var(--color-black);
  transform: scale(1.1);
}