
.experience-card {
  position: relative;
  width: 100%;
}

.experience-description {
  list-style-type: disc;
  list-style-position: inside;
}

.experience-text-container {
  border: 1px solid #222;
  @apply bg-[#222];
  @apply text-[#ebecf3];
  border-radius: 10px;
  min-height: 320px;
}

.timeline-icon {
  position: absolute;
  border-radius: 50%;
  border: 1px solid white;
  background-color: #222;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 2em;
}

@media screen and (width < 1024px) {

  .experience-card {
    padding-left: 60px;
  }
  .timeline-icon {
    left: 0px;
  }

  .experience-time-line::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #222;
    top: 0;
    left: 20px;
    z-index: -1;
  }
}

@media screen and (width >= 1024px) {

  .experience-card {
    width: 50%;
  }

  .card-left {
    left: 0;
    padding-right: 2em;
  }

  .card-right {
    left: 50%;
    padding-left: 2em;
  }
  .card-left > .experience-text-container > .experience-header > .timeline-icon {
    right: -20px;
  }

  .card-right > .experience-text-container > .experience-header > .timeline-icon {
    left: -20px;
  }

  .experience-time-line::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #222;
    top: 0;
    left: 50%;
    z-index: -1;
  }
}