.experienceCard {
  @apply relative;
}

.timelineIcon {
  @apply absolute rounded-full flex items-center justify-center;
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid var(--color-secondary);
  /* transition: border-color 0.3s ease, transform 0.3s ease; */
}

/* Posicionamiento responsive */
@media (max-width: 1023px) {
  .experienceCard {
    padding-left: 4rem;
  }

  .timelineIcon {
    left: 0;
    top: 2rem;
  }
}

@media (min-width: 1024px) {
  .left {
    left: 0;
    padding-right: 3rem;
  }

  .right {
    left: 50%;
    padding-left: 3rem;
  }

  .right .timelineIcon {
    left: 0;
    transform: translateX(-50%) !important;
    top: 2rem;
  }

  .left .timelineIcon {
    right: 0;
    transform: translateX(50%) !important;
    top: 2rem;
  }
}