html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
  position: relative;  
}

body {
  font-family: "Roboto Slab", system-ui, sans-serif;
}

section {
  @apply w-full;
  min-height: 100vh;
  max-width: 1200px;
  margin-top: 80px;
}

section#home {
  margin-top: 0 !important;
  padding-top: 80px;
}

nav {
  align-items: center;
  height: 80px;
  padding: 0 24px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

main {
  padding: 0 24px;
}

footer {
  padding: 0 24px 24px 24px;
}