html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  font-family: "Roboto Slab", system-ui, sans-serif;
  background-color: var(--color-primary);
  color: var(--color-white);
}

section {
  @apply w-full;
  min-height: calc(100vh - 80px);
  max-width: 1200px;
}

nav {
  align-items: center;
  height: 80px;
  background-color: var(--color-black);
  padding: 0 24px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

main {
  position: absolute;
  top: 80px;
  padding: 0 24px;
}