html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  font-family: "Roboto Slab", system-ui, sans-serif;
  background-color: #111;
  color: #ebecf3;
}

section {
  scroll-snap-align: center;
  height: calc(100vh - 80px);
  max-width: 1400px;
}

nav {
  align-items: center;
  height: 80px;
  background-color: #222;
  padding: 0 24px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

main {
  position: absolute;
  top: 80px;
  padding: 0 24px;
}