@import "tailwindcss";

@theme {
  --color-primary: #111;
  --color-black: #222;
  --color-secondary: #f5c542;
  --color-white: #ebecf3;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-black);
}

::-webkit-scrollbar-thumb { 
  background-color: var(--color-secondary);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-white);
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--color-secondary);
}