.sidebar {
  @apply flex fixed w-full h-screen justify-end;
  top: 0;
  right: 0;
  background-color: var(--color-white);
  color: var(--color-black);
  justify-content: end;
  padding-top: 80px;
  padding-right: 16px;
}


.sidebar-content > ul > li > a {
  display: flex;
}

.sidebar-content > ul > li > a:hover {
  color: var(--color-black);
  transform: scale(1.1);
}